<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://use.typekit.net/hva3eur.js"></script>
  <title>Fotos al natural </title>
  <link rel="stylesheet" href="css/estilo.css">
  <link rel="stylesheet" href="css/normalize.css" >
   <meta property="og:url"           content="http://pruebasbarbaras.co/Stage/jugos/index.html" />
  <meta property="og:type"          content="jugos" />
  <meta property="og:title"         content="Fotos al natural " />
  <meta property="og:description"   content="¿Te has preguntado cómo se verían las fotos de los demás si les quitaras los filtros? Usa nuestra app para descubrir cómo se verían al natural.
" />
  <meta property="og:image"         content="http://pruebasbarbaras.co/Stage/jugos/imagenEjemplo.png" />
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}

    </script>



</head>

<body>

    <img src="http://pruebasbarbaras.co/Stage/jugos/img/imagenEjemplo.png" hidden alt="Jugos Hit">


    <div class="contenedorImagen">


        <output id="list"></output><br>
        <div class="itemInfo">
            <label for="files">
                    <div class="contenedorFalse">
                        
                        <div class="backgroundNegro">
                           <div class="textodentro">
                            <div class="line"></div>
                            <h1>sube <br>una <br>foto</h1>
                             <div class="line"></div>
</div>    
                        </div>
                    </div>                
                </label>
        </div>


        <div class="divInfo">

            <div class="itemInfo">
                <img src="img/camara.png" class="camera" />
                <img src="img/explosion.png" class="explosion" alt="">
            </div>
            <div class="itemInfo">
                <div class="punto"></div>

                <h2>compartir app</h2>
                <div class="fb-share-button" data-href="http://pruebasbarbaras.co/Stage/jugos/" data-type="button_count">
              
                </div>


            </div>
        </div>


        <input type="file" id="files" name="files[]" />
        <br />


    </div>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=265044217322337";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
   
    <script>
        var contador = 0;

        function archivo(evt) {
            $('.contenedorFalse').hide();
            var files = evt.target.files; // FileList object

            // Obtenemos la imagen del campo "file".
            for (var i = 0, f; f = files[i]; i++) {
                //Solo admitimos imágenes.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                reader.onload = (function(theFile) {
                    return function(e) {
                        // Insertamos la imagen
                        document.getElementById("list").innerHTML = ['<div class="contenedorImg"><img class="thumb me" src="', e.target.result, '" title="', escape(theFile.name), '"/><div class="textBeauty">Convirtiendo la imagen</div><div class="contador"><h2 class="countSpan">3</h2></div><div class="contador2"><h2 class="countSpan">2</h2></div><div class="contador1"><h2 class="countSpan">1</h2></div><div class="textFooter">al natural</div></div>'].join('');
                    };
                })(f);

                reader.readAsDataURL(f);
            }

            /*Ponemos contador*/


            if (contador == 0) {

                setTimeout(function() {
                    $('.contador').addClass('mostrarContador')
                    contador = 1;
                    $('.textBeauty').addClass('textMos');
                    $('.textFooter').addClass('textMos');

                    $('.me').addClass('efecto');

                   mostrarContador2();
                    $('.explosion').addClass('textMos');
                }, 500);

            }
        }

        function mostrarContador2() {
            setTimeout(function() {

                $('.contador').remove();
                $('.contador2').addClass('mostrarContador2')

                $('body').addClass('body2');
                mostrarContador3();

            }, 1100);

        }

        function mostrarContador3() {
            setTimeout(function() {

                $('.contador2').remove();
                $('.contador1').addClass('mostrarContador1');
                $('body').addClass('body3');

                ocultarFoto();

            }, 1100);


        }

        function ocultarFoto() {
            
            var imagenes = new Array(6);
            var i=0;
            for(i; i<imagenes.length;i++){
                imagenes[i]= "img/back"+i;
                
            }
          
            var azar = Math.floor(Math.random()*imagenes.length);
           
            
            setTimeout(function() {
                
                
                
                 $('.explosion').remove();

                $('.contador1').remove();
                $('.thumb').removeClass('efecto');

                $('.contenedorImg').html('<div class="contenedorImg"><img class="thumb" src="'+imagenes[azar]+'.png" title="mango"/></div>');
                $('body').addClass('body4');

                $('.camera').replaceWith('<img class="camera" src="img/carita.png">');
            }, 1100);


        }
        






        document.getElementById('files').addEventListener('change', archivo, false);

    </script>
</body>

</html>
